.navbar .home-link .site-name {
  color: $accentColor;
}

.page .custom-block.tip {
  border-color: $accentColor;
}

.theme-container .page .content__default .logo-img {
  margin-top: 3.6rem;
}

.page .content__default .logo-text {
  padding-top: 2.6rem;
  padding-bottom: 2rem;
}

.icon.outbound {
  display: none;
}

#app .global-ui .sw-update-popup {
  border: 1px solid $accentColor;
}

.routes .sidebar-group-items > li > .sidebar-sub-headers > .sidebar-sub-header > a {
  color: $accentColor;
}
